#secondDiv {
  width: 100%;
}

#secondTable {
  width: 500px;
  margin: 0 auto;
  border-collapse: collapse;
}

#secondTable tr {
  display: flex;
  justify-content: center;
}

#secondTable td {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%; /* 테이블 내 각 셀이 전체 너비의 1/3을 차지하도록 설정 */
}

#secondTable span {
  margin-top: 80px;
  color: black;
}

#minuk,
#chanho,
#younghoon {
    height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; /* 각 td의 너비를 100%로 설정하여 전체 셀을 채우도록 함 */
}

#minuk {
  background-image: url("/public/minuk.png");
}

#chanho {
  background-image: url("/public/chanho.png");
}

#younghoon {
  background-image: url("/public/younghoon.png");
}

.name {
  font-family: serif;
  font-weight: bold;
}
