#secondDiv {
  width: 100%;
}

#secondTable {
  width: 500px;
  height: 150px;
  margin: 0 auto;
  border-collapse: collapse;
}

#secondTable tr {
  display: flex;
  justify-content: center;
  height: 99%;
}

#secondTable td {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  height: 100%;
}

#secondTable span {
  margin-top: 80px;
  color: black;
}

#minuk,
#chanho,
#younghoon {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

#minuk {
  background-image: url("/public/minuk.png");
}

#chanho {
  background-image: url("/public/chanho.png");
}

#younghoon {
  background-image: url("/public/younghoon.png");
}

.name {
  font-family: serif;
  font-weight: bold;
}
